<div class="container container-table">
      <div class="row vertical-10p">
        <div class="container">
          <img src="https://github.com/wellerson010/team-content/blob/master/Images/logo_chape_medium.png?raw=true" class="center-block logo">
          <div class="text-center col-sm-6 col-sm-offset-3">
            <h1>Bem... Essa página não existe</h1>
            <h4>Algo de errado não está certo!</h4>
            <router-link to="/">Me leva de volta pra casa!!!</router-link>
          </div>
        </div>
      </div>
  </div>