<div>
    <div>
        <button type="button" class="btn btn-primary" v-on:click="newOpponent">Novo</button>
    </div>
    <div>
        <v-server-table :url="urlGetOpponent" :columns="columnsTable" :options="optionsTable">
            <template slot="options" scope="props">
                <i class="fa fa-edit icon-edit" title="Editar time" role="button" v-on:click="editOpponent(props.row.id)"></i>
                <i class="fa fa-minus-circle icon-delete" title="Apagar time" role="button" v-on:click="removeFromSquad(props.row.id)"></i>
            </template>
        </v-server-table>
    </div>
</div>